/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {   
    display: flex;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

.menu header {
    display: flex; /* Define o flexbox para o cabeçalho */
    align-items: center; /* Centraliza verticalmente os itens */
}

.menu__title {
    margin-left: 10px; /* Espaço entre a imagem e o título */
}

.menu__list {
    display: flex; /* Define o flexbox para a lista */
    flex-wrap: wrap; /* Permite que os itens se ajustem em linhas múltiplas se necessário */
    justify-content: space-between; /* Distribui o espaço igualmente entre os itens, se em uma única linha */
    list-style: none; /* Remove os marcadores padrão da lista */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
    align-items: ;
}

.menu__list__item {
    margin: 5px; /* Espaço uniforme entre os itens da lista */
}

.menu__list__item a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: inherit; /* Herda a cor de texto do elemento pai */
    display: block; /* Faz com que o link preencha todo o espaço do item da lista para melhorar a área clicável */
}


/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{

}

/*Sessão Title*/

section.title{
    display: flex;
    
}

/*Sessão About*/

section.about{

}

/*Sessão Hobbies*/

section.hobbies{
    
}

/* Experiência Acadêmica*/

section.academic{

}

/* experiência*/

section.experience{

}

/*Contato*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
